<html>
  <head>
    <title>You're a Master!</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
  </head>
  
  <body><h3>You're a Master, Nice Job! Your awarness of global enviornmental issues, along with your active participation help make the world round! Keep at it, and spread your good behaviours to friends and family! To learn more about how you can help, go to our resources page!</h3>
  </body>
</html>